// Import all partials
@require './_*.styl'

body
	font-family 'PT Sans Narrow', sans-serif

header
	padding 20px 0
	margin-bottom 40px
	border-bottom 1px solid #EAEAEA

.inner-header
	position fixed
	top 0px
	left 0px
	right 0px
	z-index 2
	background-color #fff
	text-align center

	.back
		position absolute
		display inline-block
		top 3px
		left 10px
		padding 20px
		cursor pointer
		transition 0.2s transform linear

		&:hover
			transform translateX(-4%)

	h2
		display inline-block

.list-of-places, .list-of-photos
	display flex
	flex-direction row
	flex-wrap wrap


.place
	width 500px
	height 500px
	position relative
	margin-right 15px
	overflow hidden
	cursor pointer

	h1
		position absolute
		left 20px
		bottom 20px
		color #fff

	img 
		width auto
		height 100%


.tools
	position absolute
	right 20px
	top 20px

	button
		border none
		padding 2px 9px
		background-color rgba(0, 0, 0, 0.22)
		color #fff
		font-size 16px
		border-radius 1px
		transition 0.2s background ease-out

		&:hover
			background-color rgba(0, 0, 0, 0.4)

	button:first-child
		margin-right 15px

.place-add, .photo-add
	display flex
	flex-direction column
	width 400px
	position fixed
	right 50px
	bottom 100px

.add-edit-form
	background-color rgba(29, 29, 29, 0.45)
	padding 20px
	border-radius 4px

	input
		margin-bottom 20px
		background-color #f1f1f1
		border none
		padding 12px 13px
		font-size 18px

	button
		background-color #19c78d
		border none
		padding 12px 13px
		font-size 18px
		color #fff
		transition 0.2s background ease-out

		&:hover
			background-color #1fd497


.main-photo-wrapper
	width 100vw
	height 100vh
	display flex
	align-items center
	justify-content center

.list-of-photos
	width 100vw
	height 100vh
	overflow-x hidden

	.main-photo
		width 55vw
		position relative
		overflow hidden
		// max-height 80vh
		display flex
		justify-content center
		align-items center
		flex-direction row

		&:hover
			// cursor none
			cursor url(./images/cursor-white.png), auto
			
			img
				transform scale(1)

		.photo-credit
			position absolute
			color: #fff
			bottom 20px
			left 20px
			font-size 14px
			background-color rgba(0, 0, 0, 0.56)
			padding 0 5px
			text-decoration none
			transition 0.3s opacity ease-out

			&:hover
				opacity 0.7

		img
			width 100%
			height 100%
			display inline-block
			max-height none
			width 100%
			height auto
			transform scale(0.98)
			transition 0.3s transform ease-out
			// border 10px solid #fff

			&:hover
				// box-shadow 0px 2px 20px rgba(0, 0, 0, 0.35)
				// transform scale(1)
				border 0px solid #fff

.photo-edit, .place-edit
	display flex
	flex-direction column
	width 400px
	position fixed
	left 50px
	bottom 50px

	button
		background-color #445477

		&:hover
			background-color #475b88


.login, .logout, .show-add-photo
	position fixed
	bottom 10px
	left 10px

	button
		border none
		background-color transparent
		font-size 12px
		color #dadada
		padding 20px

		&:hover
			color #c7c7c7

.show-add-photo
	right 50px
	left unset

// white class 

header, form, button, .photo-credit
	transition 0.2s opacity linear

body.white

	header, form, button, .photo-credit
		opacity 0
		// transition 0.2s opacity linear
		
	

@media (min-width 1450px)

	.list-of-photos
	
		.main-photo
			width auto
			height 80vh

			img
				width auto
				height 100%


@media (max-width 760px)

	.list-of-photos

		.main-photo
			width 85vw

			img
				// width auto
				// height 100%