article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: 2 1C 2 1D 2 18 2 19;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
figure {
  margin: 0;
}
legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}
body {
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 2rem;
}
h1 {
  text-align: center;
  font-weight: normal;
  margin: 0;
  font-size: 30px;
}
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
h2 {
  text-align: center;
  margin-top: 0;
  font-size: 22px;
}
h3 {
  font-size: 3rem;
}
body {
  font-family: 'PT Sans Narrow', sans-serif;
}
header {
  padding: 20px 0;
  margin-bottom: 40px;
  border-bottom: 1px solid #eaeaea;
}
.inner-header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 2;
  background-color: #fff;
  text-align: center;
}
.inner-header .back {
  position: absolute;
  display: inline-block;
  top: 5px;
  left: 10px;
  padding: 20px;
  cursor: pointer;
}
.inner-header h2 {
  display: inline-block;
}
.list-of-places,
.list-of-photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.place {
  width: 500px;
  height: 500px;
  position: relative;
  margin-right: 15px;
  overflow: hidden;
  cursor: pointer;
}
.place h1 {
  position: absolute;
  left: 20px;
  bottom: 20px;
  color: #fff;
}
.place img {
  width: auto;
  height: 100%;
}
.tools {
  position: absolute;
  right: 20px;
  top: 20px;
}
.tools button {
  border: none;
  padding: 2px 9px;
  background-color: rgba(0,0,0,0.22);
  color: #fff;
  font-size: 16px;
  border-radius: 1px;
  transition: 0.2s background ease-out;
}
.tools button:hover {
  background-color: rgba(0,0,0,0.4);
}
.tools button:first-child {
  margin-right: 15px;
}
.place-add,
.photo-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
  position: fixed;
  right: 50px;
  bottom: 50px;
}
.add-edit-form {
  background-color: rgba(29,29,29,0.45);
  padding: 20px;
  border-radius: 4px;
}
.add-edit-form input {
  margin-bottom: 20px;
  background-color: #f1f1f1;
  border: none;
  padding: 12px 13px;
  font-size: 18px;
}
.add-edit-form button {
  background-color: #19c78d;
  border: none;
  padding: 12px 13px;
  font-size: 18px;
  color: #fff;
  transition: 0.2s background ease-out;
}
.add-edit-form button:hover {
  background-color: #1fd497;
}
.main-photo-wrapper {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.list-of-photos {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
.list-of-photos .main-photo {
  width: 55vw;
  position: relative;
  overflow: hidden;
  max-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.list-of-photos .main-photo:hover {
  cursor: none;
}
.list-of-photos .main-photo:hover img {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.list-of-photos .main-photo .photo-credit {
  position: absolute;
  color: #fff;
  bottom: 20px;
  left: 20px;
  font-size: 14px;
  background-color: rgba(0,0,0,0.56);
  padding: 0 5px;
  text-decoration: none;
  transition: 0.3s opacity ease-out;
}
.list-of-photos .main-photo .photo-credit:hover {
  opacity: 0.7;
}
.list-of-photos .main-photo img {
  width: 100%;
  height: 100%;
  display: inline-block;
  max-height: none;
  width: 100%;
  height: auto;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  transition: 0.3s -webkit-transform ease-out;
  transition: 0.3s transform ease-out;
  transition: 0.3s transform ease-out, 0.3s -webkit-transform ease-out;
}
.list-of-photos .main-photo img:hover {
  border: 0px solid #fff;
}
.photo-edit,
.place-edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
  position: fixed;
  left: 50px;
  bottom: 50px;
}
.photo-edit button,
.place-edit button {
  background-color: #445477;
}
.photo-edit button:hover,
.place-edit button:hover {
  background-color: #475b88;
}
.login,
.logout,
.show-add-photo {
  position: fixed;
  bottom: 10px;
  left: 10px;
}
.login button,
.logout button,
.show-add-photo button {
  border: none;
  background-color: transparent;
  font-size: 12px;
  color: #dadada;
  padding: 20px;
}
.login button:hover,
.logout button:hover,
.show-add-photo button:hover {
  color: #c7c7c7;
}
.show-add-photo {
  left: 100px;
}
body.white header,
body.white form,
body.white button,
body.white .photo-credit {
  opacity: 0;
  transition: 0.2s opacity linear;
}
